__pycache__/
*.py[cod]
*.so
.env
.env.*
.ipynb_checkpoints
.vscode/*
evaluation/*
results/*
oracle/resources/*
oracle/.ipynb_checkpoints
oracle/visualization/*
oracle/*.ipynb
oracle/utils/.ipynb_checkpoints

